*.iml
/.gradle
*/build/*
/local.properties
/.idea/caches
/.idea/gradle
/.idea/libraries

/.idea/misc.xml
/.idea/vcs.xml
/.idea/runConfigurations.xml
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

.DS_Store
/build
/app/build
/mvvmandroidlib/build
/captures
.externalNativeBuild

/app/release
/app/debug
